* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  background-color: #c9d3e8;
  /* border: 2px solid red; */
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
    font-size: 3.4vw;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: #39445a;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 5.4vw;
  }
}


